.authContainer {
  background-image: url("https://zosh-treading.vercel.app/assets/crypto-7678815_1920-Lm8m_thz.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 0;
}

.bgBlure{
    backdrop-filter: blur(10px);
}